* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.5;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
 }

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.link-container {
    display: flex;
    align-items: flex-start;
}

.link-item {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.link-item:visited {
    color: white;
}

.link-item:hover {
    background-color: #ccc;
    color: black;
}

.dropdown-item a:link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
}

.dropdown-item a:visited {
    color: black;
}

.dropdown-item a:hover {
    background-color: #ccc;
}

.dropdown-container {
    position: relative;
}

.dropdown-item {
    display: none;
    position: absolute;
}

.fa:hover {
    background-color: red;
}

.dropdown-container:hover .dropdown-item {
    display: block;
    z-index: 1;
}

.link-item .fa:hover {
    background-color: #ccc;
}

.band-img {
    width: 100%;
}

.img-title-container {
    position: relative;
}

.title-container {
    text-align: center;
    padding: 32px 16px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.img-title-container h3 {
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.img-title-container p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.introduction-container {
    width: 800px;
    padding: 64px 16px;
    margin: 0 auto;
}

.introduction-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
}

.slogan {
    margin: 1em 0px;
    opacity: 0.6;
    text-align: center;
}

.introduction-content {
    text-align: justify;
    margin: 1em 0px;
}

.member-info img {
    display: block;
    width: 60%;
    border-radius: 4px;
}

.member-info p {
    text-align: center;
    margin: 1em 0px;
}

.member-info-container {
    padding: 32px 0px;
    display: flex;
}

.img-container {
    display: flex;
    justify-content: center;
}

.tour-date-container {
    background-color: black;
    padding: 64px 16px;
} 

.tour-date-header {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0px;
}

.tour-date-title {
    font-style: italic;
    opacity: 0.6;
    color: #ccc;
    margin: 1em;
    text-align: center;
    margin-bottom: 32px;
}

.tour-date-date {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ccc;
    width: 800px;
}

.tour-date-date p {
    opacity: 0.6;
}