* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.5;
}

.link-container:link {
    display: block;
    padding: 12px 24px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.link-container:visited {
    color: white;
    background-color: black;
}

.link-container:hover {
    color: black;
    background-color: #ccc;
}

header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
}

.fa:hover {
    background-color: red;
    
}